<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  
  {%- include head.html -%}

  <body>
    <script>
    </script>
	  <!-- 
	  dinosaur-comics-587.png -->
	  
	  
    <script type="text/javascript">
      let data =
	  { url: "assets/images/raspberrypi.png",
	    mouseover: "Raspberry Pi",
	    linkto: "" };

      function randomXKCD() {
	  let i = Math.floor(Math.random() * data.length);
	  let xkcd = data[i];
	  let tag = '<a href="' + xkcd.linkto + '"><img src="' + xkcd.url + '" title="' + xkcd.mouseover + '" /></a>';
	  return tag;
      }
	
      let count = 0;
      function countclicks() {
	  count++;
	  document.getElementById("clickcount").innerHTML = "Number of clicks = "+count;
      }
      function clickcount() {
       	let countTag = '<p id="clickcount"> Number of clicks = '+count+'</p>';
	return countTag;
      }
      
    </script>
    
    {%- include header.html -%}

    <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
