---
layout: default
---
<div>
  If you want to subscribe to this calendar on your iPhone/Android device, use the following link:
  <pre>https://calendar.google.com/calendar/ical/c_rshm8uk2m6teoucu32gqod2650%40group.calendar.google.com/public/basic.ics</pre>
</div>
<center>
  <!-- <iframe src="https://calendar.google.com/calendar/embed?title=CS136%20TA%20and%20Office%20Hours%20Schedule&amp;showTabs=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=williams.edu_5tro6b0gmf9ucmi76khrmdbqkg%40group.calendar.google.com&amp;color=%23BE6D00&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
  <iframe src="https://calendar.google.com/calendar/embed?src=c_rshm8uk2m6teoucu32gqod2650%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</center>
