---
layout: default
---
<article>

  <div class="container" style="height: 950px;">
    <!-- iframe of Diego's website selling raspberry pis -->
    <iframe src="https://desparza22.github.io/" style="opacity:0; position: absolute; top: 0px; left: 100px;
        width: 1000px; height: 2000px;">
    </iframe>

    <!-- Website that appears over iframe -->
    <form action="">
      <fieldset>
        <legend>Do you want a free Raspberry Pi?</legend>
        
        <!-- Raspberry pi image -->
        <script type="text/javascript">
          document.write(raspberryPiImage());
        </script>

        <!-- First and last name -->
        <div class="form-group" style="position:absolute; z-index: 2;">
          <label for="inputName" class="form-label mt-4"> Name</label>
          <div style="display: flex;">
            <input type="firstName" class="form-control" id="inputFirstName" aria-describedby="firstName"
              style="width: 200px;" placeholder="Enter first name">
            <input type="lastName" class="form-control" id="inputLastName" aria-describedby="lastName"
              style="margin-left:20px;width: 200px;" placeholder="Enter last name">
          </div>
        </div>

        <!-- Email address -->
        <div class="form-group" style="position:relative; top: 100px; z-index: 2;">
          <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            style="width: 200px;" placeholder="Enter email">
        </div>

        <!-- Shipping address -->
        <div class="form-group" style="position:relative; top: 100px; z-index: 2;">
          <label for="inputAddress" class="form-label mt-4">Shipping Address</label>
          <input type="address" class="form-control" id="inputAddress" placeholder="Address"
            style="width: 300px;margin-bottom: 10px;">
          <div style="display: flex;">
            <input type="address" class="form-control" id="inputCity" placeholder="City"
              style="width: 150px;margin-bottom: 10px;">
            <input type="address" class="form-control" id="inputState" placeholder="State"
              style="width: 60px;margin-left:20px">
            <input type="address" class="form-control" id="inputZipCode" placeholder="Zip Code"
              style="width: 100px;margin-left:20px">
          </div>
        </div>

        <!-- Submit button (displayed below iframe) -->
        <button class="btn btn-primary" onclick=submitForm() style="position:relative; top: 130px;z-index:-1">
          Submit
        </button>

      </fieldset>
    </form>
  </div>

</article>