---
layout: default
---
<article>

  <div class="container">
  <div class="row">
    <div class="col-sm">
      <script type="text/javascript">
        document.write(randomXKCD());
	document.write(clickcount()); 
      </script>
    </div>
	  <form>
  <fieldset>
    <legend>Do you want a free Raspberry Pi?</legend>
    <div class="form-group">
      <label for="inputFirstName" class="form-label mt-4">First Name</label>
      <input type="firstName" class="form-control" id="inputFirstName" aria-describedby="firstName" placeholder="Enter first name">
    </div>
    <div class="form-group">
      <label for="inputLastName" class="form-label mt-4">Last Name</label>
      <input type="lastName" class="form-control" id="inputLastName" aria-describedby="lastName" placeholder="Enter last name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="inputAddress" class="form-label mt-4">Shipping Address</label>
      <input type="address" class="form-control" id="inputAddress" placeholder="Address">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
    <div class="col-sm">
      <table class="table table-hover">
	{% for info in site.data.classinfo %}
	<tr>
	  <td>
	    {{ info.key }}
	  </td>
	  <td>
	    {{ info.value | newline_to_br }}
	  </td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </div>
</div>
  <section>
    {{ content }}
  </section>

</article>
